body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(210, 210, 210);
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: rgb(210, 210, 210);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgba(153, 153, 153, 0.421);
}

button:active{
    background-color: rgba(122, 122, 122, 0.421);
}

.op_button{
    background-color: rgb(255, 253, 221);
}

.clear_button{
    background-color: rgb(255, 206, 206);
}

.op_button:hover{
    background-color: rgba(255, 251, 198, 0.805);
}

.clear_button:hover{
    background-color: rgba(255, 189, 189, 0.811);
}

.op_button:active{
    background-color: rgba(255, 251, 198, 0.904);
}

.clear_button:active{
    background-color: rgba(255, 189, 189, 0.811);
}
